<!DOCTYPE html>
<html>
  <head>
    <title>PhotoStore</title>
  </head>
  <body>
    <h1>Manage Subscriptions</h1>
    <div>
      <div>
        <h2>Subscribe to Someone</h2>
        <form action="/followUsername" method="post">
          <input type="text" name="username_followed" placeholder="Username to subscribe" required/>
          <input type="submit" value="Follow">
        </form>
        
      <form action="/unsubscribe" method="post">
          <h2>Enter username to Unsubscribe</h2>
          <input type="text" name="to_unsubscribe" placeholder="Username to unsubscribe" required/>
          <input type="submit" value="Unsubscribe">
      </form>
        
      </div>
      <br>
      <a href="/">Go back</a>
    </div>
  </body>
</html>
